<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="paths" value="C:\Users\sfuerbringer_be\Dropbox\EmailReader\EmailReader\EmailReader\bin\Debug\Lunch.email;
         C:\Users\sfuerbringer_be\Dropbox\EmailReader\EmailReader\EmailReader\bin\Debug\NewProject.email;C:\Users\sfuerbringer_be\Dropbox\EmailReader\EmailReader\EmailReader\bin\Debug\Promotion.email" />
  </appSettings>
</configuration>